/* General Reset and Setup */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #e0e0e0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a {
    color: #0078d4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */
header {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

header h1 {
    margin: 0;
}

/* Main Content */
main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
}

select {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
  }

/* Banner */
.banner {
    background: rgba(0, 122, 204, 0.9);
    color: white;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    opacity: 95%;
}

.banner__content {
    display: flex;
    align-items: center;
}

.banner__text {
    flex: 1;
    margin-right: 1rem;
}

.banner__close {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 24px;
}

/* Button Styles */
button, .download-button, .download-button-h, .nvidia-button, .nvidia-button-h, .amd-button, .amd-button-h, .intel-button, .g-button, .chipset-button, .chipset-button-h, .a-select-button, .darkmode-button {
    font-size: 16px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    color: white;
}

.download-button {
    background-color: #0078d4;
}

.download-button-h {
    background-color: #013f81;
}

.download-button:hover {
    background-color: #005a9e;
}

.darkmode-button {
    background-color: #333;
}

.darkmode-button:hover {
    background-color: #555;
}

/* Section Styles */
.driver-section {
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.driver-section h2 {
    margin-top: 0;
}

/* Footer */
footer {
    background: rgba(0, 0, 0, 0.2);
    color: #e0e0e0;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

footer a {
    color: #0078d4;
}

footer a:hover {
    text-decoration: underline;
}

/* Dark Mode */
.dark-mode {
    background-color: #f0f0f0;
    color: #333;
}

.dark-mode header {
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.dark-mode .driver-section {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.dark-mode footer {
    background: rgba(0, 0, 0, 0.1);
    color: #333;
}

/* Specific Buttons */
.nvidia-button {
    background-color: #77b900;
}

.nvidia-button:hover {
    background-color: #5a8f00;
}

.chipset-button {
    background-color: #be0b10;
}

.chipset-button:hover {
    background-color: #a40d0b;
}

.light-button {
    background-color: #c2c2c2;
}

.light-hover {
    background-color: #7e7e7e;
}

.g-button {
    background-color: #7e7e7e;
}

.g-button:hover {
    background-color: #575757;
}

.realtek-button {
    background-color: #0068b6;
}

.realtek-button:hover {
    background-color: #004070;
}

.amd-button {
    background-color: #be0e18;
}

.chipset-button {
    background-color: #be0b10;
}

.chipset-button-h {
    background-color: #800e12;
}

.amd-button:hover {
    background-color: #a80c15;
}

.intel-button {
    background-color: #269bc1;
}

.intel-button:hover {
    background-color: #1a7abf;
}

.g-button-h  {
    background-color: #575757;
}

.amd-button-h {
    background-color: #64070b;
}

.amd-button-h:hover {
    background-color: #4c0609;
}

.nvidia-button-h {
    background-color: #476d00;
}

.nvidia-button-h:hover {
    background-color: #365500;
}

.a-select-button {
    background-color: #af2d2d;
}

.a-select-button:hover {
    background-color: #df3c3c;
  }

/* Collapsible Buttons */
.Ncollapsible {
    background-color: #6eab00;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.Ncollapsible:hover, .Ncollapsible.active {
    background-color: #568500;
}

.Ncollapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.Acollapsible {
    background-color: #f06402;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.Acollapsible:hover, .Acollapsible.active {
    background-color: #bd4e01;
}

.Acollapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.Icollapsible {
    background-color: #0072c6;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.Icollapsible:hover, .Icollapsible.active {
    background-color: #005493;
}

.Icollapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.Gcontent {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #b8b8b8;
}

.collapsible {
    background-color: #0072c6;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.collapsible:hover, .collapsible.active {
    background-color: #777;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.hovereffect{
   

}

.hovereffect:hover{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    box-shadow: 20px 20px 100px #2b2b2b;
  }



/* end */